/* @media (min-width: 1584px) { */

  html {
    scroll-behavior: smooth;
  }
  
  #navbar{
    position: fixed; 
    background-color: rgba(255, 255, 255);
    top: 0; 
    width: 100%; 
    transition: top 0.3s; 
    padding-bottom: 5rem;
    z-index: 3;
  }
  
  #navbar img{
    position: absolute;
    top: 0.5rem;
    left: 2rem;
    width: 4%;
    /* margin-bottom: 2rem; */
    height: auto;
  }
  
  /* #navbar .prj-link{
    position: absolute;
    top: 2rem;
    right: 4rem;
    font-size: 1.5rem;
  }
  
  #navbar .prj-link-1{
    margin-right: 2rem; 
  }
  
  #navbar a{
    padding: 0.3rem;
  }
  
  #navbar .prj-link a:link {
    color: rgb(0, 148, 59);
    text-decoration: none;
  }
  
  #navbar .prj-link a:visited {
    color: rgb(0, 148, 59);
    text-decoration: none;
  }
  
  #navbar .prj-link a:hover {
    color: hotpink;
    background-color: rgba(255, 255, 0, 0.383);
    text-decoration: underline;
  } */
  
  /*  */
  .prj-link a {
    overflow: hidden;
    position: absolute;
    top: 1rem;
    right: 4rem;
    /* font-size: 1.5rem; */
    display: inline-block;
  
    /* border-style: groove;
    border-color: #000000;
    border-radius: 1rem; */
    margin-left: 1rem;
    color: #00943B;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.8rem;
    text-decoration: none;
  }
  
  .prj-link a::before,
  .prj-link a::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  
  /* .prj-link a::before {
    background-color: #54b3d6; 
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  } */
  
  .prj-link a::after {
    content: attr(data-replace);
    height: 100%;
    /* top: 1rem;
    right: 4rem; */
    /* margin-left: 1rem; */
    /* padding: 0.8rem; */
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0, 0);
    color: rgb(0, 148, 59);
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-shadow:
      0 0 7px #F4DD0F,
      0 0 10px #F4DD0F,
      0 0 21px #F4DD0F;
  
  }
  
  .prj-link a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  
  .prj-link a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  .prj-link a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .prj-link a:hover span {
    transform: translate3d(-200%, 0, 0);
  }
  
  .menu-bar {
    margin-right: 8rem;
  }
  
  
  
  /* >>>>>>>>>>>>>>
  END: only for prj pages
  >>>>>>>>>>>>>> */
  
  .topnav{
    position: absolute;
    position:fixed;
    top: 2rem;
    right: 4rem;
  }
  
  .nav-project{
    /* space between the words */
    margin-right: 2rem; 
  
     /* space around the word */
    padding: 0.3rem;
    font-size: 1.5rem;
  }
  
  .logo-img:hover{
    animation: shake 0.5s; 
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  .nav-about{
    padding: 0.3rem;
    font-size: 1.5rem;
  }
  
  /* unvisited link */
  .topnav > a:link {
    color: rgb(0, 148, 59);
    text-decoration: none;
  }
  
  .topnav > a:visited {
    color: rgb(0, 148, 59);
    text-decoration: none;
  }
  
  /* mouse over link */
  .topnav >a:hover {
    color: hotpink;
    background-color: rgba(255, 255, 0, 0.383);
    text-decoration: underline;
  }
  
  /* selected link */
  /* .topnav > a:active {
    color: blue;
  } */
  
  .logo-container img{
    position: absolute;
    position:fixed;
    top: 2rem;
    left: 2rem;
    width: 4%;
    height: auto;
  }
  
  /* .main-intro{
    position: relative;
    top: 10rem;
    left: 15rem;
    font-size: 1rem;
    margin-right: 40rem;
  } */
  
  .section-highlight{
    /* background: linear-gradient(180deg, rgba(15,20,28,1) 1%, rgba(15,20,28,1) 13%, rgba(255,255,255,1) 100%); */
    /* border-bottom: solid black; */
    /* border-style: solid; */
    background-color: white;
    /* padding-bottom: 5rem; */
    /* z-index: 2; */
  }
  
  .section-highlight > h2{
    margin-left: 15rem;
    font-size: 3.2rem;
    /* text-shadow: 1px 1px 1px #2765B5, 0 0 25px #2765B5, 0 0 5px #2765B5; */
    color: #102D5C; 

  }
  
  .section-highlight > p {
    font-size: 1.2rem;
    margin-right: 15rem;
    line-height: 2rem;
    margin-left: 15rem;
    color: black;
    margin-bottom: 4rem;
  }

  .last-section{
    padding-top: 15rem;
    padding-bottom: 3rem;
  }
  
  .dark-content{
    color: antiquewhite;
  }

  .dark-content > .paragraph-break{
    display: block;
    margin-bottom: 2rem;
  }

 /* .highlight{
  display:block;
  width: max-content;
  background-size: 200% auto; 
  background-image: linear-gradient(to right,#0F141C 50%,#ff0 50%);
  background-position: 0% 0;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
 } */

 .highlight.active{
  animation-name: highlight;
  border-style: none;
  border-radius: 0;
  margin-left: 0;
  font-size: 1.2rem;
}

@keyframes highlight {
   from {background-position: 0% 0;}
   to {background-position: -100% 0;}
}

  mark {
    /* -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards; */
            background-size: 200% auto; 
            background-image: linear-gradient(to right,rgb(15, 20, 28) 50%,#00943B 50%);
            background-position: 0% 0;
            animation-duration: 2s;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
           
  }

  .white-background{
    background-image: linear-gradient(to right,rgb(255, 255, 255) 0%,#00943B 50%);
  }
  
  /* @-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  
  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  } */

  .gradient-transition{
    width:100%;
    height:auto;
    position: absolute;
    overflow: hidden;
    background-attachment: scroll;
    background-position: 0% 0%;
    /* margin-top: 0rem; */
    z-index: 1;
  }

  .about-introme-section{
    margin-top: -19rem;
    flex: 50%;
    padding: 10px;
    margin-right: 4rem;
    margin-left: 15rem;
  }

  .about-introme-section > h1{
    text-shadow: 1px 1px 1px rgb(0, 148, 59), 0 0 25px yellow, 0 0 5px yellow;
    color: rgb(0, 148, 59);
  }
  
  .bigSection > .about-text{
    font-size: 1rem;
    line-height: 1.8rem;
    margin-right: 20rem;
    margin-left: -20rem;
    display: block;
  
    /* position: absolute; */
  }
  
  .about-image{
    width: 59%;
    height: auto;
    /* margin-left: -8rem; */
    /* margin-top: 4rem; */
    position: static;
    /* padding-top: 15.5rem; */
  }

  .about-bigSection{
    font-size: 1.1rem;
    color: rgb(0, 148, 59);
    margin-left: 50rem;
    margin-top: -4rem;
  }
  
  .about-bigSection > ul{
    font-size: 1rem;
    line-height: 2rem;
    color: black;
    columns: 2;
    padding: 1rem;
    padding-right: 20rem;
  }
  
  .bigSection > h1{
    text-shadow: 1px 1px 1px rgb(0, 148, 59), 0 0 25px yellow, 0 0 5px yellow;
    color: rgb(0, 148, 59);
    margin-left: -20rem;
    margin-top: 20rem;
  }
  
  .main-intro > h1{
    text-shadow: 1px 1px 1px rgb(0, 148, 59), 0 0 25px yellow, 0 0 5px yellow;
    color: rgb(0, 148, 59);
    margin-left: 15rem;
    margin-top: 14rem;
    font-size: 2rem;
  }
  
  .main-intro > .intro-p{
    margin-left: 15rem;
    font-size: 1.5rem;
    margin-right: 35rem;
    padding-right: 16rem;
  
  }
  
  .intro-note{
    font-size: 1rem;
    color: rgb(0, 148, 59);
    margin-left: 15rem;
  }


  /* Beginning of project list page style */

  .grid-item {
    position: relative;
    top: 15rem;
    left: 15rem;
    display: block;
    width: 50%;
    margin-bottom: 5rem;
  }

  .grid-item:hover .img-grid{
    opacity: 0.3;
    filter: blur(0.2rem);
  }

  .grid-item:hover .btn{
    opacity: 1;
    transition: 0.5s ease-in-out; 
  }

  .grid-item:hover .btn > h2{
    opacity: 1;
    color: rgba(0, 148, 59, 0.8);
    z-index: 2;
    font-size: 1.7rem;
    font-weight: 1000;
  }

  .grid-item:hover .btn > p{
    opacity: 1;
    color: rgba(0, 148, 59, 1);
   
    text-decoration: none;
    font-size: 1.3rem;
  }

  .grid-item:hover .btn > .prj-forward{
    margin-top: 2rem;
  }


  .grid-item:hover .btn > .prj-forward > span{
    opacity: 1;
    font-size: .9rem;
    text-decoration: none;
    color: #474747;
    text-shadow: .5px .5px, 2px 2px 15px rgba(0, 148, 59, 1), 0 0 5px rgba(0, 148, 59, 1);
  }

  .grid-item:hover .btn > .prj-forward > span:hover{
    text-decoration: underline;
  }

  .grid-item:hover .btn > .prj-forward > span:after{
    content: ' \1F512';
  }

  .grid-item:hover .btn > .prj-forward > span:hover:after{
    content: ' \1F513';
}

  .btn:hover svg {
    opacity: 1;
    stroke-dashoffset: -480;
  }

  .img-grid {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .prj-cover-container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-center {
    width: 536px;
    height: 368px;
    position: absolute;
  }

  .btn {
    width: 536px;
    height: 368px;
    cursor: pointer;
    background: transparent;
    border: transparent;
    outline: none;
    opacity: 0;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: hotpink;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  
.prj-forward{
    font-size: .7rem;
    text-decoration: none;
  }
  
 .prj-forward:hover{
    text-decoration: underline;
  }

  /* ^^^End of project list style */
  
  body{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    width: auto;
  
    /* below removes white border around footer */
    margin: 0; 
  
    height: 100%; /* Used to enable scrolling */
    /* background: linear-gradient(180deg, #ffffff 0%, rgb(8, 223, 94) 51%, rgb(0, 148, 59) 85%); */
    /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
    }
  
    /* .grid-container{
      position: relative;
      display: block;
    } */

    .last-project-grid{
      margin-bottom: 25rem;
    }
  
  footer{
      /* background-color: rgb(0, 148, 59); */
      background-color: #474747;
      /* border-style: groove;
      border-top: 4rem;
      border-color: rgb(0, 148, 59); */
      position: relative;
      /* margin-top: 10rem; */
      height: 14rem;
      overflow: auto;
      box-sizing: border-box;
      margin-top: 0rem;
    }
  
    @font-face {
      font-family: 'Alex Brush', cursive;
      src: url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
    }
  
    /* to stop footer from scrollable */
    footer {
      overflow-y: hidden;
      overflow-x: hidden;
    }
  
  .footer-welcome {
    font-family: 'Alex Brush', cursive;
    font-size: 2.5rem;
    position: relative;
    text-align: center;
    /* margin-left: -23rem; */
    width: 25%;
    top: 2rem;
    margin-left: 5rem;
  
  
    color: #fff;
    text-shadow:
      0 0 7px #474747,
      0 0 10px #474747,
      0 0 21px #fff,
      0 0 42px #E16145,
      0 0 82px #E16145,
      0 0 92px #E16145,
      0 0 102px #E16145,
      0 0 151px #E16145;
      /* background-color: #010a01; */
  }
  
  .footer-welcome > h3{
    font-size: 2.5rem;
    animation: pulsate 1.5s infinite alternate;  
    border: 0.1rem solid antiquewhite;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem antiquewhite,
              0 0 .2rem antiquewhite,
              0 0 2rem #F4DD0F,
              0 0 0.2rem #F4DD0F,
              0 0 0.8rem rgb(0, 148, 59),
              inset 0 0 0.6rem rgb(0, 148, 59); 
    text-align: center;
  
  }
  
  @keyframes pulsate {
      
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #F4DD0F,
        0 0 80px rgb(0, 148, 59),
        0 0 90px #F4DD0F,
        0 0 100px rgb(0, 148, 59),
        0 0 150px rgb(0, 148, 59);
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #474747,
      0 0 45px #474747,
      0 0 55px #474747,
      0 0 70px #474747,
      0 0 80px #474747;
  
  }
  }
  /* ------------------------------------ */
  
  .footer-info > .footer-title{
    font-weight: 900;
    font-size: 1rem;
    margin-left: -2.5rem;
    text-decoration: underline;
  }
  
  .footer-info{
    position: absolute;
    text-align: center;
    margin-left: -4rem;
    top: 4rem;
    width: 100%;
    color: antiquewhite;
    font-size: 0.75rem;
  }
  
  .footer-info > .footer-link-first{
    text-align: center; 
    /* margin-left: -4rem; */
    /* margin-top: 2rem; */
    display: block;
  }
  
  .footer-info > .footer-link-second{
    text-align: center; 
    /* margin-left: -4rem; */
    /* margin-top: 1rem; */
    display: block;
  }
  
  .footer-list-first{
    margin-bottom: 1rem;
    list-style: none;
    margin-left: -7.3rem;
  }
  
  .footer-list-second{
    margin-bottom: 1rem;
    list-style: none;
    margin-left: -5.3rem;
  }
  
  .footer-link-first:link {
    color: antiquewhite;
    text-decoration: none;
  }
  
  .footer-link-first:visited {
    color: antiquewhite;
    text-decoration: none;
  }
  
  /* mouse over link */
  .footer-link-first:hover {
    color: rgb(255, 255, 0);
    /* text-decoration: underline; */
  }
  
  
  .footer-link-second:link {
    color: antiquewhite;
    text-decoration: none;
  }
  
  .footer-link-second:visited {
    color: antiquewhite;
    text-decoration: none;
  }
  
  /* mouse over link */
  .footer-link-second:hover {
    color: rgb(255, 255, 0);
    /* text-decoration: underline; */
  }
  
  .footer-column{
    float: left;
    width: 50%;
    padding: 10px;
    
  }
  
  .footer-contact > .footer-title{
    font-weight: 900;
    font-size: 1rem;
    text-decoration: underline;
    /* margin-left: 5rem; */
  }
  
  
  
  .footer-contact{
    position: absolute;
    /* text-align: center; */
    width: 100%;
    color: antiquewhite;
    top: 4rem;
    font-size: 0.75rem;
    font-weight: bold;
    margin-left: 11rem;
  }
  
  .footer-list-email{
    list-style: none;
    margin-left: -2.5rem;
    margin-top: -2.5rem; 
    /* line-height: 0rem; */
  }
  
  
  .right-reserved{
    position: absolute;
    text-align: center;
    /* margin-bottom: 0rem; */
    margin-left: 14.2rem;
    /* margin-top: 10rem; */
    width: 100%;
    font-size: .5rem;
    color: antiquewhite;
    /* line-height: ; */
  }
  
  
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>
  this group is dedicated as the style when i had icons
  enable images in footer in html file when use 
  DON'T DELETE 
  >>>>>>>>>>>>>>>>>>>>>>>>>>> */
  
  /* .footer-group-icons{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .footer-info-icons{
    position: absolute;
    top: 6.5rem;
    list-style: none;
    display: flex; 
    flex-flow: row wrap;
    font-size: 0.7rem;
    justify-content: center;
  }
  
  .footer-info-icons > li{
    margin-right: 4rem;
    margin-top: 2rem;
    left:50%;
    text-align: center;
  } */
  
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>
  this group is  the style when i had icons for links
  in footer, code still in html file in case
  DON'T DELETE 
  >>>>>>>>>>>>>>>>>>>>>>>>>>> */
  
  
  .page-wrapper{
    min-height: 100%;
  }
  
  
  
  
  /* .about-title{
    text-shadow: 1px 1px 1px rgb(0, 148, 59), 0 0 25px yellow, 0 0 5px yellow;
    color: rgb(0, 148, 59);
  } */
  
  .about-img{
    /* position: absolute; */
    display:block;
    margin-top: 15rem;
    margin-left: 15rem;
  }
  
  
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2rem; /* Place the button at the bottom of the page */
    right: 2rem; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
  
    border: .1rem solid rgb(0, 148, 59); /* Green */ /* Remove borders */
    outline: green; /* Remove outline */
    background-color: white; 
    color:rgb(0, 148, 59); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 1rem; /* Increase font size */
    opacity: 0.6;
    transition: 0.3s;
  }
  
  #myBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    opacity: 1;
  }
  
  #myBtn span:after {
    content: '\00bb';
    transform:rotate(-90deg);
    position: absolute;
    opacity: 0;
    top: -20px;
    right: 0;
    left: -1px;
    transition: 0.5s;
   
  }
  
  #myBtn:hover span {
    opacity: 1;
    padding-top: 25px;
  }
  
  #myBtn:hover span:after {
    opacity: 1;
    top: 0;
  }
  
  #myBtn:hover{
    background-color: #F4DD0F;
    border: none;
  }
  
  
  /* >>>>>>>>>>>>>>>>>>>>>>
  project detail  */
  
  /* .row {
    display: flex;
    margin-top: 10rem;
  }
  
  Create two equal columns that sits next to each other
  .column {
    flex: 50%;
    padding: 10px;
    margin-right: 4rem;
  }
  
  .column > h2{
    margin-left: 7rem;
  } */
  
  
  .row{
    display: flex;
    margin-top: 10rem;
  }
  
  .autometrics-last-row{
    margin-top: -2rem;
  }
  
  .bigSection{
    flex: 50%;
    padding: 10px;
    margin-right: 4rem;
    margin-left: 15rem;
  }
  
  
  .bigSection > h2{
    /* margin-left: 7rem; */
    font-size: 3.2rem;
    color: #37AB2F;
  }
  
  .bigSection > p{
    /* margin-left: 7rem; */
    font-size: 1.2rem;
    margin-right: 15rem;
    line-height: 2rem;
    /* margin-right: 35rem;
    background-color: bisque; */
  }
  
  .glowing-title{
    text-shadow: 1px 1px 1px #2765B5, 0 0 25px #2765B5, 0 0 5px #2765B5;
    color: #37AB2F;
  }

  .content-challenge{
    /* padding: 10px; */
    /* padding-right: 20rem; */
    margin-left: 15rem;
    /* float:left; */
  }


  .content-challenge> h2{
    font-size: 3.2rem;
  }

  .content-challenge > p{
    font-size: 1.2rem;
    padding-right: 20rem;
  }

  .content-challenge-img-group{
    display: flex;
  }

  .content-challenge-img{
    /* display: inline-block; */
    /* margin-left: auto;
    margin-right: auto; */
    /* padding-right: 20rem; */
    width: 80%;
    height: auto;
    margin-top: 1rem;
    margin-left: -7rem;
    /* margin-right: -3rem; */
  }


  .content-challenge-img2 > img{
    display: block;
    width: 50%;
    height: auto;
    margin-top: 1rem;
    margin-left: 0rem;
  }
  
  .prj-role{
    color:rgb(0, 148, 59); /* Text color */
  }
  
  .bigSection > .blighten-prj-role{
    color:rgb(0, 148, 59); /* Text color */
    margin-right: 1rem;
  }
  
  .banner > h2{
    font-size: 2.4rem;
    margin-top: 10rem;
    text-align: center;
    color:rgb(0, 148, 59); /* Text color */
    
  }
  
  .banner > p{
    font-size: 1rem;
    text-align: center;
    color:rgb(0, 148, 59); /* Text color */
    margin-top: -1rem;
  }
  
  .img-grid-inside{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
  }
  
  .img-grid-problem-section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    margin-top: 3rem;
  }

  .autometrics-problem-img{
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 90%;
    height: auto;
    margin-top: 2rem;
  }
  
  .img-grid-ABTest-section{
    display: block;
    margin-left: 14rem;
    margin-right: auto;
    width: 140%;
    height: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  .img-grid-user-section{
    display: block;
    margin-left: 13rem;
    margin-right: auto;
    width: 90%;
    height: auto;
    margin-top: -3rem;
  }
  
  .img-grid-process-section{
    display: block;
    margin-left: 10rem;
    margin-right: auto;
    width: 70%;
    height: auto;
    margin-top: 3rem;
  }
  
  .img-grid-etour-persona{
    display: block;
    margin-left: 6rem;
    margin-right: auto;
    width: 75%;
    height: auto;
    /* margin-top: 1rem; */
  }
  
  
  .img-etour-walkthrough{
    display: block;
    margin-left: 15rem;
    margin-right: auto;
    width: 50%;
    height: auto;
    /* margin-top: 1rem; */
  }
  
  .img-grid-planner-persona{
    display: block;
    margin-left: 4rem;
    margin-right: auto;
    width: 75%;
    height: auto;
    margin-top: 4rem;
  }
  
  .img-grid-planner-design1{
    display: block;
    margin-left: 15rem;
    margin-right: auto;
    width: 75%;
    height: auto;
    margin-top: 4rem;
  }
  
  .img-grid-planner-design2{
    display: block;
    margin-left: 15rem;
    margin-right: auto;
    width: 60%;
    height: auto;
    margin-top: 4rem;
  }
  .img-grid-planner-design3{
    display: block;
    margin-left: 15rem;
    margin-right: auto;
    width: 75%;
    height: auto;
    margin-top: 4rem;
  }
  .img-grid-planner-design4{
    display: block;
    margin-left: 15rem;
    margin-right: auto;
    width: 55%;
    height: auto;
    margin-top: 4rem;
  }
  
  .img-grid-keydo{
    display: inline-block;
    margin-left: 15rem;
    margin-right: 1rem;
    width: 15%;
    height: auto;
    margin-top: 4rem;
  }
  
  .img-grid-keydo-beside{
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 15%;
    height: auto;
    margin-top: 4rem;
  }
  
  
  .planner-caption{
    margin-left: 15rem;
    font-size: 1.2rem;
    margin-top: 1.3rem;
    margin-bottom: 8rem;
  }
  
  
  
  
  
  
  
  
  
  .img-grid-roles-section{
    display: block;
    margin-right: auto;
    width: 120%;
    height: auto;
  }
  
  .img-grid-methods-section{
    display: block;
    margin-right: auto;
    width: 120%;
    height: auto;
  }
  
  .img-grid-methods-section-right{
    display: block;
    margin-right: auto;
    width: 120%;
    height: auto;
    margin-left: -7rem;
    padding-right: 5rem;
  }
  
  .figcap-keydo-method-right{
    margin-left: -7rem;
  }
  
  .img-grid-keydo-problem-section{
    display: block;
    margin-left: 1rem;
    margin-right: auto;
    width: 60%;
    height: auto;
    margin-top: -0.5rem;
  }
  
  .img-app-interface{
    display: block;
    /* width: 50%; */
    height: auto;
    margin-left: 15rem;
  }
  
  .img-app-interface-right{
    display: block;
    /* width: 50%; */
    height: auto;
    margin-left: 5rem;
  }
  
  .blighten-model{
    display: block;
    width: 100%;
    height: auto;
    margin-left: -8rem;
    margin-top: 2rem;
  }
  
  .blighten-model-top{
    display: block;
    width: 100%;
    height: auto;
    margin-left: -8rem;
    margin-top: 10rem;
  }
  
  .scrapon-right{
    width: 100%;
    margin-left: -6.5rem;
    height: auto;
  }
  
   .minimiz-poster-top{
    display: block;
    width: 130%;
    height: auto;
    margin-left: -18rem;
    margin-top: 9rem;
  }
  
  .bigSection > .minimiz-img-caption{
    margin-left: -16.5rem;
  }
  
  .bigSection > .minimiz-img-caption-top{
    margin-left: -10.5rem;
  }
  
  .bigSection > .blighten-text-left{
    font-size: 1.2rem;
    margin-right: 1rem;
    line-height: 2rem;
  }
  
  
  /* .content-bigSection > .keydo-method-left{
    margin-left: 1.5rem;
  } */
  
  .content-bigSection > .problem-sub{
    margin-left: 15rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    margin-right: -7rem;
    color: #2765B5;
  }
  
  .bigSection > .problem-sub{
    color: #2765B5;
    font-size: 1.5rem;
    margin-top: -1.5rem;
  }
  
.challenge-sub{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-right: -7rem;
    color: #2765B5;
  }
  
/* .challenge-sub-second{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-right: -7rem;
    color: #2765B5;
  } */

  .challenge-second{
    margin-top: -6rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-right: -7rem;
    color: #2765B5;
  }

  .journey-sub{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-right: -7rem;
    color: #2765B5;
  }

  .journey-sub-first{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-right: -7rem;
    color: #2765B5;
  }
  
  .content-bigSection > .SideBySide{
    width: 50%;
    float: left;
  }
  
  .content-bigSection{
    flex: 50%;
  }
  
  .content-bigSection > h2{
    margin-left: 15rem;
    font-size: 3.2rem;
    color: #37AB2F;
    /* text-shadow: 1px 1px 1px #2765B5, 0 0 25px #2765B5, 0 0 5px #2765B5; */
  }
  
  table{
    width: 75%
  }
  
  th{
    font-size: 1.5rem;
    color: #2765B5;
    border: .2rem solid antiquewhite;
    padding: 1rem;
  }
  
  td{
    border: .1rem solid antiquewhite;
    text-align: left;
    padding: 8px;
    color: antiquewhite;
    font-size: 1.2rem;
    padding: 1rem;
  }
  
  .section-middle-highlight{
    background: radial-gradient(circle, rgba(16,45,92,1) 0%, rgba(15,20,28,1) 100%);
    /* background-image:
      radial-gradient(
        circle closst-side,
        rgb(39, 101, 181),
        #0F141C
      ); */
    flex: 50%;
    text-align: center;
  }
  
  .section-middle-highlight > h2{
    font-size: 3.2rem;
    /* text-shadow: 1px 1px 1px #2765B5, 0 0 25px #2765B5, 0 0 5px #2765B5; */
    color: antiquewhite; 
    margin-top: 2rem;
  }
  
  .section-middle-highlight > .goals{
    font-size: 1.2rem;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    color: antiquewhite; 
    list-style-type:none
    /* padding-right: 15rem; 
    padding-left: 15rem;  */
  }
  
  ul.goals > li{
    line-height: 2rem;
  }
  
  .content-bigSection > .large-title-keydo-user{
    margin-top: 3rem;
    margin-left: 15rem;
    font-size: 1.2rem;
    color: rgb(0, 148, 59);
  }
  
  .content-bigSection > .content-title-image-left{
    margin-left: 12rem;
    font-size: .7rem;
    color: #E16145;
  }
  
  .content-bigSection > .content-title-image-left-second{
    margin-top: 10rem;
    margin-left: 12rem;
    font-size: .7rem;
    color: #E16145;
  }
  
  .content-bigSection > .content-large{
    font-size: 1.2rem;
    margin-left: 15rem;
    margin-right: 5rem;
  }
  
  
  .content-bigSection > .etour-oppurtunity-content{
    font-size: 1.2rem;
    margin-left: 15rem;
    margin-right: 18rem;
  }
  
  .content-bigSection > .content-large-keydo{
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 10rem;
  }
  
  .etour-second-head{
    font-size: 1.2rem;
    color: hotpink;
    margin-top:4rem;
  }
  
  .content-bigSection > .content-large-short{
    font-size: 1.2rem;
    margin-left: 15rem;
    margin-right: 10rem;
  }
  
  .content-bigSection > .content-large-image-beside{
    font-size: 1.2rem;
    margin-left: 15rem;
    margin-right: 2rem;
    line-height: 1.8rem;
    color: black;
  }

  .keydo-goals{
    margin-top: 6.5rem;
  }

  .problem-dark-content{
    font-size: 1.2rem;
    margin-left: 15rem;
    margin-right: 1rem;
    line-height: 2rem;
    color: antiquewhite;
  }
  
  .content-bigSection > .content-conclusion{
    font-size: 1.2rem;
    margin-left: 15rem;
    margin-right: 2rem;
    /* line-height: 1.8rem; */
    padding-right: 30rem;
  }
  
  .content-bigSection > .content-large-image-left{
    font-size: 1.2rem;
    margin-left: 12rem;
    margin-right: 10rem;
    line-height: 1.8rem;
  }
  
  .content-bigSection > .content-title{
    color:rgb(0, 148, 59); /* Text color */
    margin-left: 1rem;
    margin-right: 5rem;
    margin-top: 2.5rem;
    line-height: 1.8rem;
  }
  
  .content-bigSection > .content-title-keydo-image-left{
    color:rgb(0, 148, 59); /* Text color */
    font-size: .9rem;
    margin-left: 1rem;
    margin-right: 5rem;
    margin-top: 2.5rem;
  }
  
  .content-bigSection > .real-content{
    margin-left: 1rem;
    font-size: 1rem;
    margin-right: 8rem;
    line-height: 1.8rem;
    margin-top: -0.5rem;
  }
  
  figure{
    margin-left: 15rem;
  }
  
  figure > .prj-image{
    width: 70%;
    height: auto;
  }
  
  .bigSection > .special-heading{
    font-size: 3rem;
    margin-top: 3rem;
    /* text-shadow: 2px 2px 0px rgba(255, 255, 0, 0.383); */
  }
  
  .bigSection > .special-section-heading{
    font-size: 1rem;
    margin-top: 5rem;
    margin-bottom: -0.5rem;
    /* text-shadow: 2px 2px 0px rgba(255, 255, 0, 0.383); */
  }
  
  .bigSection > .product-name-heading{
    color:rgb(0, 148, 59); /* Text color */
    font-size: 1.5rem;
    text-decoration: underline  hotpink;
  }
  
  .gif-section-left{
    width:40%;
    height:auto;
    margin-left: 15rem;
  }
  
  .gif-section{
    max-height: 650px;
    width:auto;
    margin-left: 1rem;
    margin-top:1rem;
    margin-bottom: 2rem;
    float:left;
  }

  .hztl-slider-container{
    overflow: auto;
    white-space: nowrap;
    display: block;
    overscroll-behavior-x: contain
  }

  .hztl-slider-container .slider{
    display: inline-table;
    /* text-align: center; */
    padding-top: 1rem;
    padding-bottom: 2rem;
    /* word-break: break-all; */
    word-wrap: normal;
    padding-left: 12px;
    padding-right: 6px;
    margin-right: -5rem;
    max-width: 45%;
    /* margin-left: 15rem; */
  }

  .first-slider{
    margin-left: 14rem;
  }

    /* Caption text */
    .text {
      color: #000000;
      font-size: 1rem;
      /* padding: 8px 12px; */ 

      position: relative;
      display: block;
      bottom: 8px;
      /* float: right; */
      /* padding-right: 30rem; */
      /* width: 100%; */
      /* margin-left: 5rem; */
      /* padding-right: 30rem; */
      margin-top: 19rem;
      margin-left: 21rem;
      margin-right: 5rem;
      /* margin-left: 35rem;
      padding-right: 30rem; */
      /* margin-bottom: 19rem; */
      /* text-align: center; */
    }

    .text > p{
      /* word-break: break-all; */
      word-wrap: normal;
      white-space: normal;
      display: block;
      padding-right: 5rem;
     

    }
  
  
  /* involve app prototype demo */
  
  * {box-sizing:border-box}
  
  /* Slideshow container */
  .slideshow-container {
    /* max-width: 1000px; */
    max-width: 50rem;
    position: relative;
    margin: auto;
    /* margin-left: 15rem; */
  }
  
  /* Hide the images by default */
  .mySlides {
  width: 30%;
  height: auto;
  display: flex;

  margin:auto auto;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 148, 59);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 17rem;
    border-radius: 3px 0 0 3px;
  }
  
  .prev {
    left: -10rem;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(255, 255, 0, 0.383);
    color: hotpink;
  }
  
  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 2px;
    background-color: rgba(122, 160, 137, 0.434);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot-group{
    margin-left:7rem;
    margin-top: 3rem;
    display: block;
  }
  
  .dot-grooup > .dot{
    /* border-style: groove;
    border-color: #000000;
    border-radius: 1.5rem;
    margin-left: 1rem; */
    color: antiquewhite;
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem;
    text-decoration: none;
  }
  
  .active, .dot-group > .dot{
    color: antiquewhite;
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem;
    text-decoration: none;
    border: none;
    margin-left: 0rem;
  }
  
  .active, .dot:hover {
    background-color: rgb(0, 148, 59);
  
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  
  
  /* ---------------------------------------- */
  
  .content-bigSection > .quote{
    margin-left: 15rem;
    font-size: 1.7rem;
    margin-top: 3rem;
    margin-right: 5rem;
    text-shadow: 1px 1px, 0 0 25px rgba(255, 255, 0, 0.605), 0 0 5px yellow;
  }
  
  .content-bigSection > .quote-second{
    margin-left: 15rem;
    font-size: 1.7rem;
    margin-top: 10.5rem;
    margin-right: 5rem;
    text-shadow: 1px 1px, 0 0 25px rgba(255, 255, 0, 0.605), 0 0 5px yellow;
  }
  
  .content-bigSection > .quote-right{
    margin-left: 1rem;
    font-size: 1.7rem;
    /* margin-top: 10.5rem; */
    margin-right: 10rem;
    text-shadow: 1px 1px, 0 0 25px rgba(255, 255, 0, 0.605), 0 0 5px yellow;
  }
  
  .normal-background > .other-project-heading{
    text-align: center;
    font-size: 2.2rem;
    color: antiquewhite;
    padding-top: 3rem;
  }
  
  .normal-background{
    background-color: rgb(0, 148, 59);
  }
  
  /* .other-project >.other-project-name{
    margin-left: 15rem;
  } */
  
  .other-project-first:link{
    margin-left: 15rem;
    font-size: 1.2rem;
    color: rgb(0, 148, 59);
    text-decoration: underline;
    display: block;
    /* margin-right: 80rem; */
  }
  
  .other-project-first:visited{
    margin-left: 15rem;
    font-size: 1.2rem;
    color: rgb(0, 148, 59);
    text-decoration: underline;
  }
  
  .other-project-first:hover{
    margin-left: 15rem;
    font-size: 1.4rem;
    color:hotpink;
    /* background-color: rgba(255, 255, 0, 0.383); */
    text-decoration: none;
  }
  
  .other-project:link{
    margin-left: 15rem;
    font-size: 1.2rem;
    color: rgb(250, 235, 215);
    text-decoration: underline;
    display: block;
    /* margin-right: 80rem; */
  }
  
  .other-project:visited{
    margin-left: 15rem;
    font-size: 1.2rem;
    color: rgb(250, 235, 215);
    text-decoration: underline;
  }
  
  .other-project:hover{
    margin-left: 15rem;
    font-size: 1.4rem;
    color:#E16145;
    /* background-color: rgba(255, 255, 0, 0.383); */
    text-decoration: none;
  }
  
  .other-project-first>div { 
    display: none; 
  }
  .other-project-first:hover>div { 
    display: block; 
    margin-left: 15rem;
    margin-top: 2rem;
  }
  
  .other-project>div { 
    display: none; 
  }
  .other-project:hover>div { 
    display: block; 
    margin-left: 15rem;
    margin-top: 2rem;
  }
  
  .current-project:link{
    margin-left: 15rem;
    font-size: 1.4rem;
    color: rgba(250, 235, 215,0.5);
    display: block;
    text-decoration: none;
  }
  .current-project:visited{
    margin-left: 15rem;
    font-size: 1.4rem;
    color: rgba(250, 235, 215,0.5);
    display: block;
    text-decoration: none;
  }
  
  p{
    line-height: 2rem;
  }
  
  .etour-empathy-map-figcap{
    margin-left: 10rem;
    margin-top: 0.5rem;
  }
  
  .etour-tour-figcap{
    margin-left: 15rem;
    margin-top: 0.5rem;
  }
  
  iframe{
    margin-left: 15rem;
  }
  
  .button {
    border: none;
    color: white;
    padding: 12px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    /* color: black;  */
    border: 2px solid #4CAF50;
    border-radius: 10px; /* Rounded corners */
  }
  
  .button1:hover {
    /* color: hotpink; */
    background-color: rgba(255, 255, 0, 0.383);
    border: 2px solid rgba(255, 255, 0, 0.383);
  }
  
  .view-project{
    text-decoration: none;
    color: rgb(0, 148, 59);
   
  }
  
  /* } */
  
  .circle-sketch-highlight{
    position:relative;
    color: antiquewhite;
  }
  
  .circle-sketch-highlight:before{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:-0.1em;
    border-width:2px;
    border-style:solid;
    border-color:#ef8c22;
    position:absolute;
    border-right-color:transparent;
    width:100%;
    height:1em;
    transform:rotate(2deg);
    opacity:0.7;
    border-radius:50%;
    padding:0.1em 0.25em;
  }
  .circle-sketch-highlight:after{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:0.1em;
    padding:0.1em 0.25em;
    border-width:2px;
    border-style:solid;
    border-color:#ef8c22;
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    width:100%;
    height:1em;
    transform:rotate(-1deg);
    opacity:0.7;
    border-radius:50%;
  }
  
  .autometrics-bg{
    background-color: #0F141C;

  }
  
  .project-bg-lock{
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  
  /* another experiment */
  
  /* input {
    display: none;
  }
  .project-container .project-folder {
    width: 100%;
    height: 371px;
    float: left;
    overflow: hidden;
    background-color: antiquewhite;
  }
  .project-folder ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .project-folder ul li{
    float: left;
  }
  
  .project-container ul li {
    width: 250px;
    height: 250px;
    float: left;
    line-height: 250px;
    font-weight: 400;
    font-size: 1.3em;
    color: #2E2929;
    display: block;
    margin-left: 15rem;
    margin-right: 1rem;
  } */
  
  .btn-project h2.other-project-heading{
    text-align: center;
    color: #00943b;
    background-color: #FFF;
    padding-top: 3rem;
    margin: -1rem;
    font-size: 2.2rem;
  }
  
  .btn-project {
    background-color: #FFF;
  }
  
  .btn-project ul {
    list-style-type: none;
    /* margin: 0; */
    overflow: hidden;
    background-color: white;
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: -3rem;
  }
  
  .btn-project li {
    float: left;
  }
  
  .btn-project li:hover {
    background-color: #00943B;
  }
  
  .btn-project ul li label {
  
    height: auto;
    float: left;
    padding: 1rem;
    font-size: 0.8em;
    color: #2E2929;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color .25s ease-in-out;
  }
  /* .btn-project ul li label:hover {
    background-color: #00943B;
    color: #FFF;
  } */
  
  #folder-btn1:checked ~ .project-folder > ul {
    transition: transform .7s ease-in-out;
    transform: translateX(0px);
  }
  
  #folder-btn1:checked ~ .project-folder label[for="folder-btn1"] {
    background-color: #FF1493;
    color: #FFF;
  }
  
  #folder-btn2:checked ~ .project-folder > ul {
    transition: transform .7s ease-in-out;
    transform: translateX(-369px);
  }
  
  #folder-btn2:checked ~ .project-folder label[for="folder-btn2"] {
    background-color: #FF1493;
    color: #FFF;
  }
  
  #folder-btn3:checked ~ .project-folder > ul {
    transition: transform .7s ease-in-out;
    transform: translateX(-738px);
  }
  
  #folder-btn3:checked ~ .project-folder label[for="folder-btn3"] {
    background-color: #FF1493;
    color: #FFF;
  }
  
  /* eeeeeeeeeeeee */
  
  /* * {box-sizing: border-box}
  .mySlides {display: none}
  img {vertical-align: middle;} */
  
  /* Slideshow container */
  .otherprj-container {
    width: auto;
    position: relative;
    margin: auto;
    background-color: white;
    padding-bottom: 3rem;
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: solid black;
  }

  .otherprj-special{
    margin-top: 0rem;
  }
  
  .otherprj-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
  }
  
  /* The dots/bullets/indicators */
  /* .project-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  } */
  
  .active, .project-dot{
    border-style: groove;
    border-color: #000000;
    border-radius: 1.5rem;
    margin-left: 1rem;
    color: antiquewhite;
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem;
    text-decoration: none;
  }
  
  .active, .project-dot:hover {
    background-color: rgba(0, 148, 59, 0.5);
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  .mySlides-img{
    /* opacity: 1;
    display: block; */
    transition: .5s ease;
    backface-visibility: hidden;
    transform: scale(1.06);
    opacity: 0.6;
    width: 100%;
  }
  
  
  /* Hover on project and click */
  .hint-to-project{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 7rem;
  }
  .mySlides-img:hover{
    transform: scale(1.03);
      opacity: 1;
  }
  
  /* .hint-to-project:hover{
   background-color: rgb(0, 148, 59);
    opacity: 1;
    color: antiquewhite;
  } */
  
  .hint-text{
    /* background-color: #37AB2F; */
    border-style: groove;
    border-color: #000000;
    border-radius: 1.5rem;
    color: antiquewhite;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 2rem;
    text-decoration: none;
  }
  

  .hint-text{
    opacity:0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 7rem;
  }

  .mySlides:hover .hint-text {
    background-color: rgb(0, 148, 59);
    opacity: 1;
    /* width: 10px;
    height: 10px; */
  }

